@media screen and(max-width: 1200px) {
    .home .graphic img {
        width: 30rem;
    }

    .user-page {
        .user-panel {
            background-size: 40rem 60rem;
        }

        :nth-child(3) {
            width: 70%;
        }
    }

}

@media screen and(max-width: 1000px) {

    .user-page {
        .user-panel {
            background-position-x: 30%
        }

        :nth-child(3) {
            width: 70%;
        }
    }

}

@media screen and(max-width: 850px) {
    .home {
        .graphic {
            display: none;
        }
    }

    .user-page {
        display: block;
    }

    .user-panel {
        display: none;

    }

    .user-page :nth-child(3) {
        width: 100%;
        .user-info{
            margin: 5%;
        }
    }


}

@media screen and(max-width: 550px) {
.user-page :nth-child(3) .user-info{
    margin: 0 ;
}


}